# í”„ë¡œì íŠ¸ ëª©í‘œ

ê²Œì„ íšŒì‚¬ì˜ ë°ì´í„° íŒ€ì— í•©ë¥˜í–ˆì„ ë•Œ

ë‹¤ìŒ ë¶„ê¸°ì— ì–´ë–¤ ê²Œì„ì„ ì„¤ê³„í•´ì•¼ í• ê¹Œë¼ëŠ” ê³ ë¯¼ì„ í•´ê²°í•˜ê¸° ìœ„í•´, 

ê¸°ì¡´ì˜ ë°ì´í„°ì— ê¸°ë°˜í•˜ì—¬ ì¸ì‚¬ì´íŠ¸ë¥¼ ì–»ê³ , ì˜ì‚¬ê²°ì •ì„ í•˜ê³ ì í•˜ëŠ” ê²ƒ

# ğŸ•¹ï¸ Data Description

**Name** : ê²Œì„ì˜ ì´ë¦„ì…ë‹ˆë‹¤.

**Platform** : ê²Œì„ì´ ì§€ì›ë˜ëŠ” í”Œë«í¼ì˜ ì´ë¦„ì…ë‹ˆë‹¤.

**Year** : ê²Œì„ì´ ì¶œì‹œëœ ì—°ë„ì…ë‹ˆë‹¤.

**Genre** : ê²Œì„ì˜ ì¥ë¥´ì…ë‹ˆë‹¤.

**Publisher** : ê²Œì„ì„ ë°°ê¸‰í•œ íšŒì‚¬ì…ë‹ˆë‹¤.

**NA_Sales** : ë¶ë¯¸ì§€ì—­ì—ì„œì˜ ì¶œê³ ëŸ‰ì…ë‹ˆë‹¤.

**EU_Sales** : ìœ ëŸ½ì§€ì—­ì—ì„œì˜ ì¶œê³ ëŸ‰ì…ë‹ˆë‹¤.

**JP_Sales** : ì¼ë³¸ì§€ì—­ì—ì„œì˜ ì¶œê³ ëŸ‰ì…ë‹ˆë‹¤.

**Other_Sales** : ê¸°íƒ€ì§€ì—­ì—ì„œì˜ ì¶œê³ ëŸ‰ì…ë‹ˆë‹¤.

In [ ]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import math
import seaborn as sns

In [ ]:
df_original = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/vgames2.csv")

In [ ]:
df_original.info()

# EDA



- [x] Year, Genre, Publisher columnì— ê²°ì¸¡ì¹˜ ë°œê²¬ -> ê²°ì¸¡ì¹˜ ì œê±°í•´ì£¼ê¸°

- [x] [Year] : float -> int í˜•ë³€í™˜ í•´ì•¼í•¨ / ì´ìƒì¹˜ ê³ ì³ì£¼ê¸°

- [x] Sales : object -> float í˜•ë³€í™˜ í•´ì•¼í•¨
    - ê¸°ë³¸ ë‹¨ìœ„ M(1,000,000)ì´ë¼ê³  ê°€ì •
    - M ì€ ê·¸ëƒ¥ ì‚­ì œí•˜ê¸°
    - K ëŠ” ì‚­ì œí•˜ê³  1000 ê³±í•˜ê¸°

- [x] [Unnamed: 0] : column ì‚­ì œ

In [ ]:
# Unnamed: 0 í–‰ ì œê±°
df = df_original.drop('Unnamed: 0', axis=1)

In [ ]:
# ê²°ì¸¡ì¹˜ ìˆëŠ” í–‰ ì œê±°
df = df.dropna(axis=0)

In [ ]:
# index ì¬ì •ë ¬
df.reset_index(drop=True)

In [ ]:
# [Year] í˜• ë³€í™˜
df['Year'] = df['Year'].astype(int)

In [ ]:
# ì¶œì‹œì—°ë„ ë¶€ì •í™•í•œ ë°ì´í„°ë“¤ ì¡´ì¬
display(df[df['Year'] < 100])

In [ ]:
# ì¶œì‹œì—°ë„ ë°”ê¿”ì£¼ê¸°

def year_error(i):
    if i < 50 :
        return i + 2000
    elif (i > 50 and i < 100):
        return i + 1900
    else:
        return i

df['Year'] = df['Year'].apply(year_error)

In [ ]:
# M ì‚­ì œ
df['NA_Sales'] = df['NA_Sales'].str.replace('M', '')
df['EU_Sales'] = df['EU_Sales'].str.replace('M', '')
df['JP_Sales'] = df['JP_Sales'].str.replace('M', '')
df['Other_Sales'] = df['Other_Sales'].str.replace('M', '')

In [ ]:
# K í¬í•¨ê°’ë“¤ ë°”ê¿”ì£¼ê¸°

def fillzero (s):
    s.str.pad(width=5, side='left', fillchar='0')

In [ ]:
df['NA_Sales'] = df['NA_Sales'].str.pad(width=5, side='left', fillchar='0')
df['EU_Sales'] = df['EU_Sales'].str.pad(width=5, side='left', fillchar='0')
df['JP_Sales'] = df['JP_Sales'].str.pad(width=5, side='left', fillchar='0')
df['Other_Sales'] = df['Other_Sales'].str.pad(width=5, side='left', fillchar='0')

In [ ]:
df['NA_Sales'] = df['NA_Sales'].str.replace('K', '')
df['EU_Sales'] = df['EU_Sales'].str.replace('K', '')
df['JP_Sales'] = df['JP_Sales'].str.replace('K', '')
df['Other_Sales'] = df['Other_Sales'].str.replace('K', '')

In [ ]:
df['NA_Sales'] = df['NA_Sales'].str.replace('00000', '0.0')
df['EU_Sales'] = df['EU_Sales'].str.replace('00000', '0.0')
df['JP_Sales'] = df['JP_Sales'].str.replace('00000', '0.0')
df['Other_Sales'] = df['Other_Sales'].str.replace('00000', '0.0')

In [ ]:
df['NA_Sales'] = df['NA_Sales'].str.replace('0000', '0.0')
df['EU_Sales'] = df['EU_Sales'].str.replace('0000', '0.0')
df['JP_Sales'] = df['JP_Sales'].str.replace('0000', '0.0')
df['Other_Sales'] = df['Other_Sales'].str.replace('0000', '0.0')

In [ ]:
# 0450K ë¥¼ 0.45M ìœ¼ë¡œ ë°”ê¿”ì¤€ë‹¤
def ktom(s):
    if '.' not in s :
        return s.replace("0", "0.", 1)
    return str(s)

In [ ]:
df['NA_Sales'] = df['NA_Sales'].apply(ktom)
df['EU_Sales'] = df['EU_Sales'].apply(ktom)
df['JP_Sales'] = df['JP_Sales'].apply(ktom)
df['Other_Sales'] = df['Other_Sales'].apply(ktom)

In [ ]:
# [Sales] float í˜•ìœ¼ë¡œ ë³€í™˜
df['NA_Sales'] = df['NA_Sales'].astype(float)
df['EU_Sales'] = df['EU_Sales'].astype(float)
df['JP_Sales'] = df['JP_Sales'].astype(float)
df['Other_Sales'] = df['Other_Sales'].astype(float)